@import "./loader.scss";

:root {
  --light-green: #eafec4;
  --bright-green: #abfe2c;
  --bright-green-dark: #9efe0b;
  --bright-green-darker: #8be401;
  --dark-green: #204f24;
  --dark-green-dark: #1a411e;
  --dark-green-darker: #153317;
  --lavender: #e0d0fb;
}

#reroot-modal {
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background: rgba(0, 0, 0, 0.5); */

  /* &.active { */
  /*   bottom: 0; */
  /* } */

  /* .content-container { */
  /*   max-width: 360px; */
  /*   background: white; */
  /*   padding: 20px; */
  /*   display: flex; */
  /*   flex-direction: column; */
  /*   gap: 20px; */
  /*   border-radius: 20px; */

  /*   .lens-logo { */
  /*     background: var(--light-green); */
  /*     width: 150px; */
  /*     height: 150px; */
  /*     padding: 25px; */
  /*     box-sizing: border-box; */
  /*     border-radius: 20px; */
  /*   } */
  /* } */

  /* button { */
  /* } */

  .post-text {
    font-family: "Space Grotesk", sans-serif;
    background: var(--light-green);
    font-weight: 500;
    color: black;
    padding: 20px;
    border-radius: 20px;
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  .user-text {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 10px;

    .username {
      color: black;
      font-weight: 700;
      text-align: left;
      margin: 0;
    }

    .userid {
      color: var(--dark-green);
      font-weight: 400;
      font-size: 12px;
      text-align: left;
      margin: 0;
    }
  }
}
