@import "./loader.scss";

:root {
  --light-green: #eafec4;
  --bright-green: #abfe2c;
  --bright-green-dark: #9efe0b;
  --bright-green-darker: #8be401;
  --dark-green: #204f24;
  --dark-green-dark: #1a411e;
  --dark-green-darker: #153317;
  --lavender: #e0d0fb;
  --light-red: #fec4c4;
}
